@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-field {
    @apply mt-6 py-2 border border-gray-300 pl-4 shadow-lg rounded-md;
  }

  .error-field {
    @apply mt-2 text-sm text-red-500 ml-2;
  }

  .submit-btn {
    @apply bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700;
  }

  .loader {
    @apply flex min-h-[5rem] space-x-3 items-center w-11/12 p-4 shadow-xl border border-gray-200 rounded-md;
  }

  .blog-error {
    @apply flex min-h-[5rem] items-center font-bold w-11/12 p-4 shadow-xl border border-gray-200 rounded-md;
  }

  .blog-none {
    @apply flex items-center min-h-[5rem] font-semibold w-11/12 space-y-4 p-4 shadow-xl border border-gray-200 rounded-md;
  }

  .input-field {
    @apply border border-gray-300 p-2 rounded-lg shadow-md mt-3;
  }

  .paginate-btn {
    @apply bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 disabled:bg-blue-700;
  }

  .navbar-btn {
    @apply relative text-lg w-fit block after:block after:content-[''] after:absolute after:h-[3px] 
          after:bg-black dark:after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 
          after:transition after:duration-300 after:origin-center;
  }

  .category-content {
    @apply flex space-x-2 ml-4 relative after:block after:content-[''] after:absolute after:h-[3px] 
          after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition 
          after:duration-300 after:bottom-0 after:origin-left;
  }

  .category-content > .active {
    @apply relative after:block after:content-[''] after:absolute after:h-[3px] 
          after:bg-black after:w-full after:bottom-0 after:origin-left after:scale-100
  }

  .profile-picture {
    @apply border w-[3rem] h-[3rem] rounded-full;
  }

  .post {
    @apply flex-col w-11/12 space-y-4 p-4 shadow-xl border border-gray-200 rounded-md relative hover:-translate-y-1 transition-all ease-in-out;
  }

  .is-active {
    @apply bg-gray-700 text-white p-[0.25rem] rounded-md;
  }

  .menu-item {
    @apply bg-none text-center rounded-md text-white cursor-pointer w-[1.75rem] h-[1.75rem] mr-[0.25rem] p-[0.25rem];
  }

  .menu-item:hover {
    @apply bg-gray-700 text-white p-[0.25rem] rounded-md;
  }

  .text-editor {
    @apply prose prose-slate dark:prose-invert prose-sm sm:prose-base lg:prose-base max-w-none focus:outline-none p-3;
  }

  .dashboard {
    @apply flex flex-col md:flex-row m-5 gap-3 md:h-[78vh];
  }

  .dashboard-btn {
    @apply border border-gray-300 py-2 -translate-y-1 shadow-xl hover:translate-y-0 hover:shadow-none w-full rounded-md transition-all ease-in-out;
  }

  .dashboard-active {
    @apply border border-gray-300 py-2 translate-y-0 w-full rounded-md;
  }
}
